body {
  margin: 0;
  padding: 0;
}

h2,
h3 {
  margin: 10px;
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

p {
  margin: 10px;
}

/**
* Create a position for the map
* on the page */
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

/**
* Set rules for how the map overlays
* (information box and legend) will be displayed
* on the page. */
.map-overlay {
  position: absolute;
  bottom: 100;
  right: 0;
  background: #fff;
  margin-right: 20px;
  font-family: "Open Sans", sans-serif;
  overflow: auto;
  border-radius: 3px;
}

#features {
  top: 0;
  height: 380px;
  margin-top: 20px;
  width: 250px;
}

.mapboxgl-ctrl-geocoder {
  width: 300px !important;
}

.my-popup .mapboxgl-popup-content {
  width: 170px;
  background: rgba(255, 220, 230, 0.8);
  border-top: 50px black;
  padding: 8px;
  color: black;
}

a {
  text-decoration: none;
  color: #2dc4b2;
}

#console {
  position: absolute;
  width: 240px;
  margin: 10px;
  padding: 10px 20px;
  background-color: white;
}

.session {
  margin-bottom: 20px;
}

.row {
  height: 12px;
  width: 100%;
}